/* whatsapp */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
.navbar-brand{
    position: relative;
}
.na{
    display: none;
}
.yes{
    display: none;
}
.white{
    position: absolute;
    top: 5px;
    left: 0px;
}
.whatsapp a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 25px;
    border-radius: 100px;
    z-index: 99999;
    padding: 10px 12px;
    background-color: green;
    transition: all .3s;
}
.whatsapp span :hover{
    background-color: rgb(8, 179, 36);
}
/* nav-bar */
.navbar-nav{
    margin-left: auto;
    margin-right: 4rem;
    gap: 40px;
    
}
#nav-head{
    position: fixed;
    width: 100%;
    z-index: 6;
}   
/* end-nav-bar */
/* nav-shrink */
.nav-head1{
    background-color: #8080801c;
    padding: 0px 0px;
    /* -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s; */
    transition: background-color 0.3s;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    }
    .smaller{
        background-color: white;
        padding: 0px 0px;
    }
/* end-shrink */
/* nav-itom */
.navbar img{
    width: 200px;
    margin-left: 4rem;
}
.navbar{
    padding: 0px;
}
.nav-link{
    display: block;
    text-transform: capitalize;
    padding: 5px 12px 7px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.nav-link:hover{
    color: #d90101;
}
.nav-link::after{
    position: absolute;
    content: "";
    border-bottom: 3px solid #d90101;
    background-size: contain;
    /* top: 0px; */
    left: 48%;
    right: 45%;
    bottom: -35px;
    /* border-width: 153px; */
    height: 2px;
    width: 0px;
    z-index: 999999999999;
    transition: all.3s;
}
.nav-link:hover::after{
    width: 100%;
    display: inline-block;
    left: 0%;
    right: 0%;
}
.itom{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right:0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* end-nav-itom */
/* Menu Toggler */
#menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    outline: none;
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
  }
  
  #menuToggle input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 26px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    background: rgb(15, 15, 15);
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 5px 0px;
        -ms-transform-origin: 5px 0px;
            transform-origin: 5px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked~span {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(-3px, -1px);
        -ms-transform: rotate(-45deg) translate(-3px, -1px);
            transform: rotate(-45deg) translate(-3px, -1px);
    background: rgb(8, 8, 8);
  }
  
  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-4px, -2px);
        -ms-transform: rotate(45deg) translate(-4px, -2px);
            transform: rotate(45deg) translate(-4px, -2px);
  }
  
  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-3px, -1px);
        -ms-transform: rotate(45deg) translate(-3px, -1px);
            transform: rotate(45deg) translate(-3px, -1px);
  }
 .tgl1{
      background: white ;
  }
  
  /* end menu toggler */
  /* slider-img */
  .item img{
    height: 735px;
  }
  .item{
      position: relative;
  }
  .item::after{
      position: absolute;
      content: "";
      background:linear-gradient(45deg,rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.753));
      background-size: contain;
      width: 100%;
      height:100%;
      top: 0px;
      left: 0px;
      z-index: 1;
  }
  .owl-nav{
      opacity: 0;
  }
  .owl-nav button.owl-prev{
    font-size: 3rem;
    outline: none;
  }
  .owl-prev {
      position: absolute;
      top: 19rem;
      left: 10px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border: none;
  }
  .owl-next{
    position: absolute;
    top: 19rem;
    right: 10px;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  border: none;
  font: bold;
  }
  .owl-carousel button.owl-dot {
    background: 0 0;
    border: none;
    padding: 0!important;
    height: 3px;
    width: 35px;
    background-color: white;
    margin: 0 10px;
    outline: none;
}
.owl-dots{
    position: absolute;
    bottom: 2rem;
    left: 47%;
}
.active{
    background-color: rgb(255, 1, 1) !important;
}
.owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    border: none;
    padding: 0!important;
    outline: none;
}
/* end-slide-img */
  /* slider-txt*/
  .owl-item.active .slider-text h1,.owl-item.active .slider-text1 h1,.owl-item.active .slider-text2 h1{
    animation: fadeInDownBig 2s;
}
    @-webkit-keyframes fadeInDownBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDownBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    .owl-item.active .slider-text p,.owl-item.active .slider-text1 p,.owl-item.active .slider-text2 p{
        animation: fadeInRightBig 2s;
    }
        @-webkit-keyframes fadeInRightBig {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInRightBig {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
 
  .slider-text,.slider-text1,.slider-text2{
      position: absolute;
      top: 17rem;
      left: 5rem;
      z-index: 2;
  }
  .slider-text h1,.slider-text1 h1,.slider-text2 h1{
    color: #fff;
    font-size: 45px;
    line-height: 52px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
  }
  .slider-text p,.slider-text1 p,.slider-text2 p{
      color: white;
      letter-spacing: 1px;
      margin-bottom: 50px;
      font-family: 'Open Sans', sans-serif;
  }
 

  .btn-1{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    /* border-radius: 2px; */
    background-color: rgb(0, 60, 255);
    letter-spacing: 1px;
}
/* slider-txt-end */
/* slider-bottom */

.btn-1{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: #3763eb;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}
.btn-1 span{
    position: relative;
    z-index: 22;
    font-weight: 500;
}
.btn-1::after{
    position: absolute;
    content:"";
    background-color: white;
    background-size: contain;
    width: 0%;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 1;
    transition: all .5s ease-in-out;
}
.btn-1:hover::after{
    width: 100%;
    font-weight: 500;

    
}
.btn-1:hover{
    color: rgb(10, 7, 7);
}
/* end-slider-bottom */
/* product */
#product{
    margin-bottom: 2rem;
    
}
.product-headline h2 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 0px;
    text-transform: none;
    color: #333;
    text-align: center;
    position: relative;
    margin-bottom: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: #a9a9a9 2px 2px 0px;
}
.inner-product{
    margin: 0 70px;
    margin-bottom: 2rem;
    
}
.product-itom img{
    width: 100%;
    height:100% ;
}
.product-itom{
    position: relative;
    overflow: hidden;
    height: 360px;
    box-shadow: 0px 5px 9px -5px;
}
.product-itom::after{
    position: absolute;
    content: "";
    border-top: 3px solid #d90101;
    background-size: contain;
    top: 0px;
    left: 50%;
    right: 50%;
    width: 0%;
    transition: all.5s;
}
.product-itom:hover::after{
    width: 100%;
    left: 0%;
    right: 0%;
}
.overlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #000000ab;
    height:25%;
    width: 100%;
    transition: all.5s;
    cursor: pointer;
    display: flex;
    gap: 20px;
    box-shadow: 0 5px 10px 3px;
}
.product-itom:hover .overlay{
    height: 99.2%;
    z-index: 1;
}
.overlay img{
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-left: 20px;
    margin-top: 16px;
}
.text h5{
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px rgb(98 98 98);
}
.text p {
    font-size: 14px;
    font-weight: 500;
    color: #111;
    line-height: 24px;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    background: linear-gradient(
43deg, #03ff2263 79%, #0423ff30 50%);
    margin-right: 12px;
    border-radius: 19px 0px;
    color: #ffffff;
    position: relative;
    left: -71px;
    text-align: center;
    width: 310px;
}
.text a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    transition: all.3s;
    margin-top: 15px;
    letter-spacing: 1px;
    position: relative;
    left: 1.2rem;
    top: 2rem;
}
.text a:hover{
    color: red;
}
.text span{
   transition: all.3s;
}
.text a:hover span{
    margin-left: 5px;
}
.text span{
    margin-top: 10px;
}
/* end-product */
/* straties-start */
.strategies-sub-grid{
    display: flex;
    gap: 20px;
}
.strategies-sub-grid span{
    font-size: 50px;
    color:#fff
}
#strategies{
    background-image: url(https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding: 10rem;
    background-color: rgba(0, 0, 0, 0.651);
    background-blend-mode: darken;
    background-attachment: fixed;
    margin-top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
}
.strategies-head h1 {
    color: white;
    position: relative;
    margin-bottom: 5rem;
    line-height: 4rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.strategies-head h1::before{
position: absolute;
content: "";
border-left: 2px solid red;
background-size: contain;
height: 120px;
top: 0px;
left: -20px;
}
.strategies-sub-grid h2{
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
/* straties-end */
/* testimonial */
.inner-testimonial img{
    height: 120px;
    width: 120px;
    border-radius: 35% 0 35% 0%;
    box-shadow: -4px 4px 0px 4px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: all.3s;
}
.inner-testimonial:hover  img{
   transform: rotate(-4deg);
}
.inner-testimonial{
    text-align: center;
}
.mySwipers{
    overflow: hidden;
    position: relative;
}
.testimonial-headline h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: normal;
    word-spacing: 0px;
    text-transform: none;
    color: #333;
    text-align: center;
    position: relative;
    margin-bottom: 5.5rem;
    margin-top: 5.5rem;
    font-family: 'Open Sans', sans-serif;
}
.testimonial-headline h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.inner-testimonial span{
    color: gray;
}
.inner-testimonial p{
    width: 100%;
    margin-top: 15px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.inner-testimonial i {
    position: absolute;
    right: 18px;
    color: #898989;
    font-size: 22px;
    bottom: 11px;
}
#testimonial{
    margin-top: 5rem;
}
.swiper-wrapper {
    padding-bottom: 7rem;
}
.swiper-slide {
    padding: 0px 40px;
    cursor: pointer;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    --swiper-theme-color: green;
}
.swiper-pagination-bullets{
    z-index: -1;
}
/* end-testimonial */
/* name-no */
#contact-info{
    background-color: #d3d3d324;
    padding: 5rem;
    margin-top: 3rem;
}
.name-no input:focus,.mail input:focus,.message textarea:focus{
    background-color: #fff;
    border: 1px solid #ff000045;
    box-shadow: red 0px 0px 10px -5px;
    outline: 0;
}
.get-in-touch h6{
    color:#3763eb ;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.get-in-touch h3{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}
.name-no input{
    width: 47.9%;
    height: 56px;
    font-size: 17px;
    background-color: #f8f8f8;
    border:none;
    padding-left: 15px;
    margin-right: 14px;
}
.name-no {
    margin-bottom: 25px;
    width: 100%;
    
}

.mail input{
    width: 47.9%;
    height: 56px;
    background-color: #f8f8f8;
    border: none;
    font-size: 17px;
    padding-left: 15px;
    margin-bottom: 25px;
    margin-right: 14px;
}
.message textarea{
    width: 98%;
    height: 112px;
    border: none;
    background-color:#f8f8f8 ;
    font-size: 17px;
    margin-bottom: 25px;
    padding-left: 15px;
}
.send button{
    padding: 6px 21px;
    border: 1px solid #004c18;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255 255 255);
    letter-spacing: 1px;
    font-size: 1rem;
    transition: all .5s;
    position: relative;
    text-decoration: none;
    background-color: #004c18;
    box-shadow: black 0 5px 25px -5px;
    /* border-radius: 25px; */
    overflow: hidden;
    }
.send button span{
    position: relative;
    z-index: 111;
}
.send button::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    background-size: contain;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    transition: all.5s;
        
}
.send button:hover::after{
width: 100%;
right: 0px;
}
.send button:hover{
    color: #004c18;
}
.contact-inner{
    background:linear-gradient(90deg,white 65%,#004c18 34%);
    padding-left: 10px;
    padding: 3rem 2rem;
}
.contact h6{
    color: white;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.contact h3{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.address span,.number span,.hour span,.mail1 span{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.address,.number,.hour,.mail1{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.contact{
    padding-left: 2rem;
    height: 100%;
}
.office-address,.office-number,.office-hour,.office-mail{
    color: white;
    margin-top: 10px;
}
.office-hour a{
    text-decoration: none;
    color: #4a4444;
    margin-right: 10px;
    font-size: 22px;
    margin-top: 15px;
    cursor: pointer;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    transition: all .5s;
    
}
.fa-facebook{
    padding: 8px 12px !important;
}
.fa-instagram{
    padding: 9px 10px !important;
    transition: all.5s;
}
.fa-facebook:hover{
    background-color: rgb(9, 9, 216);
    color: white;
    box-shadow: 0 4px 8px -3px;
    
}
.fa-instagram:hover{
    background: linear-gradient(
154deg, #0008ff,#ff002d, #f4ed00f5);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px -3px;
}
.fa-twitter:hover{
    background-color: rgb(0, 132, 255);
    color: white;
    box-shadow: 0 4px 8px -3px;
}
.fa-linkedin:hover{
    background-color:rgb(0, 95, 184) ;
    color: white;
    box-shadow: 0 4px 8px -3px;
}
.office-address h4,.office-number h4,.office-hour h4,.office-mail h4{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.office-address p,.office-number p,.office-hour p,.office-mail p{
    font-family: 'Open Sans', sans-serif;
}
.contact-inner{
    position: relative;
}
.contact-inner::after{
    position: absolute;
    content: "";
    background-color: #00d5ff;
    clip-path: polygon(50% 0%, 100% 0, 100% 50%);
    background-size: contain;
    height: 200px;
    width: 200px;
    right: -1px;
    top: 0px;
}





